<mat-drawer-container [hasBackdrop]="true" (backdropClick)="backing()">
  <mat-drawer #employeeMenu [mode]="'over'" [autoFocus]="false" position="end">
    <router-outlet (deactivate)="updating()"></router-outlet>
  </mat-drawer>
  <mat-drawer-content>

    <!--Datalist-->
    <datalist id="officess">
      <option *ngFor="let office of offices" [value]="office?.someLabel"></option>
    </datalist>
    <datalist id="managerss">
      <option>Managers</option>
      <option *ngFor="let manager of managers?.list" [value]="manager?.someLabel"></option>
    </datalist>
    <datalist id="directorss">
      <option>Directors</option>
      <option *ngFor="let director of directors?.list" [value]="director?.someLabel"></option>
    </datalist>

    <div class="col-12 header-div">
      <div class="row">
        <!--Header-->
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="header" (click)="getEmployees('refresh')">Manage Employees</div>
        </div>

        <!--Filters-->
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div>
              <mat-icon class="filter-icons">filter_list</mat-icon>
              <input type="text"
                     (keyup)="setFirstNLast()"
                     [(ngModel)]="someLabelFilter"
                     placeholder="Employees"
                     class="employee-filter">
              <mat-icon class="clear-filter emp-name" (click)="clearFilter(1)" *ngIf="someLabelFilter.length > 0">cancel</mat-icon>
            </div>
            <div>
              <mat-icon class="filter-icons">filter_list</mat-icon>
              <input type="text"
                     list="officess"
                     (keyup)="getOfficesDataList()"
                     (change)="setMDOId(officeFilter, 'office')"
                     [(ngModel)]="officeFilter"
                     placeholder="Offices"
                     class="employee-filter">
              <mat-icon class="clear-filter" (click)="clearFilter(2)" *ngIf="officeFilter.length > 0">cancel</mat-icon>
            </div>
            <div>
              <mat-icon class="filter-icons">filter_list</mat-icon>
              <input type="text"
                     list="managerss"
                     (keyup)="getManagerDataList()"
                     (change)="setMDOId(managerFilter, 'manager')"
                     [(ngModel)]="managerFilter"
                     placeholder="Managers"
                     class="employee-filter">
              <mat-icon class="clear-filter" (click)="clearFilter(3)" *ngIf="managerFilter.length > 0">cancel</mat-icon>
            </div>
            <div>
              <mat-icon class="filter-icons">filter_list</mat-icon>
              <input type="text"
                     list="directorss"
                     (keyup)="getDirectorDataList()"
                     (change)="setMDOId(directorFilter, 'director')"
                     [(ngModel)]="directorFilter"
                     placeholder="Directors"
                     class="employee-filter">
              <mat-icon class="clear-filter" (click)="clearFilter(4)" *ngIf="directorFilter.length > 0">cancel</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-12">

      <!--Employee Table-->
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Employee</th>
          <th class="small-display">{{tableFields?.birthdate?.fieldLabel}}</th>
          <th class="small-display">{{tableFields?.email?.fieldLabel}}</th>
          <th>{{tableFields?.officeName?.fieldLabel}}</th>
          <th>Manager</th>
          <th class="small-display">{{tableFields?.managerEmail?.fieldLabel}}</th>
          <th>Director</th>
          <th class="small-display">{{tableFields?.directorEmail?.fieldLabel}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tuple" *ngFor="let employee of employees?.list" (click)="openEmployee(employee?.id)">
          <td>{{employee?.someLabel}}</td>
          <td class="small-display">{{employee?.birthdate | multiPurposePipe: 'birthday'}}</td>
          <td class="small-display">{{employee?.email}}</td>
          <td>{{employee?.officeName}}</td>
          <td>{{employee?.managerFirstName}} {{employee?.managerLastName}}</td>
          <td class="small-display">{{employee?.managerEmail}}</td>
          <td>{{employee?.directorFirstName}} {{employee?.directorLastName}}</td>
          <td class="small-display">{{employee?.directorEmail}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-9 paginate" *ngIf="employees?.totalPages > 1">

      <!--Pagination-->
      <table border="0">
        <tr>
          <td>
            <mat-icon class="prev" (click)="pages(-10, employees?.totalPages)">first_page</mat-icon>
          </td>
          <td>
            <mat-icon class="prev" (click)="pages(-1, employees?.totalPages)">chevron_left</mat-icon>
          </td>
          <td>
            <div class="page-number">
              {{paginate}} of {{employees?.totalPages}}
            </div>
          </td>
          <td>
            <mat-icon class="next" (click)="pages(1, employees?.totalPages)">chevron_right</mat-icon>
          </td>
          <td>
            <mat-icon class="next" (click)="pages(10, employees?.totalPages)">last_page</mat-icon>
          </td>
        </tr>
      </table>
      <div class="total-records">( {{employees?.totalRecords}} )</div>
    </div>

    <!--Create employee button-->
    <div class="new-emp" (click)="openEmployee('new-employee')" *ngIf="allowNewEmployee">
      <mat-icon>person_add</mat-icon>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
