.header-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-div > div{
  cursor: pointer;
}
.header{
  font-family: "Roboto Black";
  font-size: 30px;
  color: #045BA1;
  padding-left: 36px;
  padding-top: 15px;
}
.filter-icons{
  color: #045BA1;
  position: relative;
  left: 44px;
  top: 6px;
}
.clear-filter{
  color: #045BA1;
  position: relative;
  left: -55px;
  top: 5px;
  font-size: 20px;
}
.emp-name{
  left: -44px;
}
.employee-filter{
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #045BA1;
  background-color: transparent;
  /*text-align: center;*/
  padding: 4px 2px 4px 34px;
  height: 40px;
  width: 180px;
  font-family: "Roboto Medium";
  color: #045BA1;
  font-size: 16px;
}
::placeholder{
  color: #045BA1;
}
.employee-filter > input{
  width: 98%;
}
/*css for employee table list*/
table{
  margin-top: 38px;
  border-bottom: 1px solid #045BA1;
}
thead > tr{
  background-color: #045BA1;
  color: white;
}
.tuple:hover{
  background-color: #045BA1;
  cursor: pointer;
}
.tuple:hover > td{
  color: white;
}
th{
  font-family: "Roboto Medium";
  font-size: 18px;
  padding-left: 40px;
}
td{
  font-family: "Roboto Medium";
  font-size: 16px;
  color: #323232;
}
.tuple > td{
  padding-left: 40px;
}

/*Pagination Buttons*/
h4{
  font-family: "Roboto Medium";
  color: #323232;
  margin-bottom: 0;
}
.paginate table{
  border-bottom: none;
}
.paginate{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.prev{
  font-family: "Roboto Light";
  background-color: #045BA1;
  border: none;
  display: flex;
  border-radius: 4px;
  justify-content: flex-start;
  height: 30px;
  padding: 1px 6px 0 6px;
  margin-right: 10px;
}
.next{
  font-family: "Roboto Light";
  background-color: #045BA1;
  border: none;
  display: flex;
  border-radius: 4px;
  justify-content: flex-end;
  height: 30px;
  padding: 1px 6px 0 6px;
  margin-left: 10px;
}

/*add new emp button*/
.new-emp{
  background-color: #045BA1;
  color: white;
  cursor: pointer;
  background-color: #045BA1;
  border-radius: 50%;
  padding-top: 11px;
  padding-left: 13px;
  font-size: 24px;
  height: 55px;
  width: 55px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.new-emp:hover{
  box-shadow: 0 5px 10px black;
}

