.header-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-div .row{
  width: 102%;
}
.header-div > div{
  cursor: pointer;
}
.header{
  font-family: "Roboto Black";
  font-size: 30px;
  color: #045BA1;
  padding-left: 36px;
  padding-top: 15px;
}
.filter-icons{
  color: #045BA1;
  position: relative;
  left: 44px;
  top: 6px;
}
.clear-filter{
  color: #045BA1;
  position: relative;
  left: -55px;
  top: 3px;
  font-size: 16px;
}
.emp-name{
  left: -39px;
}
.employee-filter{
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #045BA1;
  background-color: transparent;
  padding: 4px 2px 4px 34px;
  height: 40px;
  width: 218px;
  font-family: "Roboto Medium";
  color: #045BA1;
  font-size: 16px;
}
datalist option::-webkit-scrollbar-thumb{
  background-color: #045BA1;
}
::placeholder{
  color: #045BA1;
}
.employee-filter > input{
  width: 98%;
}
/*css for employee table list*/
table{
  margin-top: 38px;
  border-bottom: 1px solid #045BA1;
}
thead > tr{
  background-color: #045BA1;
  color: white;
}
.tuple:hover{
  background-color: #045BA1;
  cursor: pointer;
}
.tuple:hover > td{
  color: white;
}
th{
  font-family: "Roboto Medium";
  font-size: 17px;
  padding-left: 40px;
}
td{
  font-family: "Roboto Medium";
  font-size: 15px;
  color: #323232;
}
.tuple > td{
  padding-left: 40px;
}

/*Pagination Buttons*/
.paginate table{
  width: 60%;
  border-bottom: none;
}
.paginate td{
  width: 20%;
}
.paginate{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  color: #045BA1;
}
.page-number{
  color: #045BA1;
  margin-top: -4px;
  margin-left: -3px;
}
.total-records{
  font-family: "Roboto Light";
  margin-top: 30px;
}
.prev{
  color: #045BA1;
  font-size: 35px;
}
.next{
  color: #045BA1;
  font-size: 35px;
}

/*add new emp button*/
.new-emp{
  background-color: #045BA1;
  color: white;
  cursor: pointer;
  background-color: #045BA1;
  border-radius: 50%;
  padding-top: 11px;
  padding-left: 13px;
  font-size: 24px;
  height: 55px;
  width: 55px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.new-emp:hover{
  box-shadow: 0 5px 10px black;
}

@media only screen and (max-width: 890px) {
  th{
    font-size: 13px;
  }
  td{
    font-size: 12px;
  }
  .prev, .next{
    font-size: 25px;
  }
}
@media only screen and (max-width: 760px) {
  .small-display{
    display: none;
  }
  .header{
    text-align: center;
  }
}
@media only screen and (max-width: 500px){
  .employee-filter{
    margin-left: 76px;
    width: 265px;
  }
  .filter-icons{
    left: 104px;
  }
}
