<mat-drawer-container [hasBackdrop]="true" (backdropClick)="backing()">
  <mat-drawer #employeeMenu [mode]="'over'" [autoFocus]="false" position="end">
    <router-outlet (deactivate)="updating()"></router-outlet>
  </mat-drawer>
  <mat-drawer-content>

    <datalist id="officess">
      <option *ngFor="let office of offices" [value]="office?.someLabel">{{office?.id}}</option>
    </datalist>
    <datalist id="managerss">
      <option>Managers</option>
      <option *ngFor="let manager of managers?.list" [value]="manager?.someLabel">{{manager?.id}}</option>
    </datalist>
    <datalist id="directorss">
      <option>Directors</option>
      <option *ngFor="let director of directors?.list" [value]="director?.someLabel">{{director?.id}}</option>
    </datalist>

    <div class="col-12 header-div">
      <div class="header" (click)="getEmployees()">Manage Employees</div>
      <div>
        <mat-icon class="filter-icons">filter_list</mat-icon>
        <input type="text"
               (keyup)="setFirstNLast()"
               [(ngModel)]="someLabelFilter"
               placeholder="Employees"
               class="employee-filter">
        <mat-icon class="clear-filter emp-name" (click)="clearFilter(1)" *ngIf="someLabelFilter.length > 0">cancel</mat-icon>
      </div>
      <div>
        <mat-icon class="filter-icons">filter_list</mat-icon>
        <input type="text"
               list="officess"
               (keyup)="getOfficesDataList()"
               (change)="setMDOId(officeFilter, 'office')"
               [(ngModel)]="officeFilter"
               placeholder="Offices"
               class="employee-filter">
        <mat-icon class="clear-filter" (click)="clearFilter(2)" *ngIf="officeFilter.length > 0">cancel</mat-icon>
      </div>
      <div>
        <mat-icon class="filter-icons">filter_list</mat-icon>
        <input type="text"
               list="managerss"
               (keyup)="getManagerDataList()"
               (change)="setMDOId(managerFilter, 'manager')"
               [(ngModel)]="managerFilter"
               placeholder="Managers"
               class="employee-filter">
        <mat-icon class="clear-filter" (click)="clearFilter(3)" *ngIf="managerFilter.length > 0">cancel</mat-icon>
      </div>
      <div>
        <mat-icon class="filter-icons">filter_list</mat-icon>
        <input type="text"
               list="directorss"
               (keyup)="getDirectorDataList()"
               (change)="setMDOId(directorFilter, 'director')"
               [(ngModel)]="directorFilter"
               placeholder="Directors"
               class="employee-filter">
        <mat-icon class="clear-filter" (click)="clearFilter(4)" *ngIf="directorFilter.length > 0">cancel</mat-icon>
      </div>
    </div >
    <hr>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Employee</th>
          <th>{{tableFields?.birthdate?.fieldLabel}}</th>
          <th>{{tableFields?.email?.fieldLabel}}</th>
          <th>{{tableFields?.officeName?.fieldLabel}}</th>
          <th>Manager</th>
          <th>{{tableFields?.managerEmail?.fieldLabel}}</th>
          <th>Director</th>
          <th>{{tableFields?.directorEmail?.fieldLabel}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tuple" *ngFor="let employee of employees?.list | filters: searchFilter" (click)="openEmployee(employee?.id)">
          <td>{{employee?.someLabel}}</td>
          <td>{{employee?.birthdate | multiPurposePipe: 'birthday'}}</td>
          <td>{{employee?.email}}</td>
          <td>{{employee?.officeName}}</td>
          <td>{{employee?.managerFirstName}} {{employee?.managerLastName}}</td>
          <td>{{employee?.managerEmail}}</td>
          <td>{{employee?.directorFirstName}} {{employee?.directorLastName}}</td>
          <td>{{employee?.directorEmail}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2 paginate" *ngIf="employees?.totalPages > 1">
      <table border="0">
        <tr>
          <td>
            <button class="btn btn-info prev" (click)="pages(-1, employees?.totalPages)">Prev</button>
          </td>
          <td>
            <h4>{{paginate}}</h4>
          </td>
          <td>
            <button class="btn btn-info next" (click)="pages(1, employees?.totalPages)">Next</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="new-emp" (click)="openEmployee('new-employee')">
      <mat-icon>person_add</mat-icon>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
