<div class="container side-menu">
  <div class="row">
    <div class="col-12 tool-bar">
      Manage Account
      <hr>
    </div>
  </div>
  <div class="row logged-user">
    <div class="col-4">
      <ngx-avatar *ngIf="!avatarOrPic()" [name]="'Hegi Gjoka'" bgColor="#045BA1" fgColor="white"></ngx-avatar>
      <img *ngIf="avatarOrPic()" src="{{avatar}}" class="img-fluid avatar-img">
    </div>
    <div class="col-8 emp-creds">
      <div>CED office</div>
      <div>Hegi Gjoka</div>
    </div>
  </div>
  <div class="row emp" (click)="openEmp()">
    <mat-icon class="emp-icon">group</mat-icon>
    <div class="emp-desc">Employee</div>
  </div>
  <div class="row req" (click)="openReq()">
    <mat-icon class="req-icon">folder</mat-icon>
    <div class="req-desc">Requests</div>
  </div>
  <!--<div class="row req">-->
    <!--<mat-icon class="req-icon">folder</mat-icon>-->
    <!--<div class="req-desc">Requests</div>-->
    <!--<div class="req-type">-->
      <!--<div routerLink="requests" [queryParams]="{type: 'all'}">All Requests</div>-->
      <!--<div routerLink="requests" [queryParams]="{type: 'my'}">My Requests</div>-->
      <!--<div routerLink="requests" [queryParams]="{type: 'myp'}">My Pending Requests</div>-->
      <!--<div routerLink="requests" [queryParams]="{type: 'pa'}">Pending Action</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row logout" (click)="logout()">
    <mat-icon class="logout-icon">save_alt</mat-icon>
    <div class="logout-desc">Logout</div>
  </div>
</div>
