.conf-dialog{
  background-color: #045BA1;
  border-radius: 8px;
  padding: 20px 15px 20px 15px;
}
.conf-dialog-header{
  color: white;
  font-family: "Roboto Medium";
  font-size: 20px;
  margin-bottom: 10px;
}
.conf-dialog-desc{
  color: white;
  font-family: "Roboto Light";
  font-size: 18px;
  margin-bottom: 10px;
}
label{
  font-family: "Roboto Light";
  color: white;
  margin-top: 10px;
  margin-bottom: 18px;
  height: 40px;
  width: 25%;
}
input{
  background-color: #045BA1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: "Roboto Light";
  padding-left: 10px;
  width: 67%;
  height: 40px;
  margin-right: 32px;
  margin-bottom: 18px;
  float: right;
}
::placeholder{
  color: white;
}
.conf-dialog-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
button{
  background-color: white;
  font-family: "Roboto Medium";
  color: #045BA1;
}
button:hover{
  color: white;
}
.btn-danger{
  margin-right: 15px;
  background-color: #cd0022;
  color: white;
}
