.header-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-div > div{
  cursor: pointer;
  margin-right: -5px;
}
.header{
  font-family: "Roboto Black";
  font-size: 30px;
  color: #045BA1;
  padding-left: 36px;
  padding-top: 15px;
}
.filter-icons{
  color: #045BA1;
  position: relative;
  left: 44px;
  top: 6px;
}
.clear-filter{
  color: #045BA1;
  position: relative;
  left: -30px;
  top: 3px;
  font-size: 16px;
}
.emp-name{
  left: -20px;
}
.req-filter{
  left: -40px;
}
.filter-date{
  left: -44px;
}
mat-datepicker-toggle{
  color: #045BA1;
  position: relative;
  left: -30px;
  margin-right: -36px;
}
mat-datepicker-toggle /deep/button:focus{
  outline: none;
}
/deep/.mat-calendar-header{
  background-color: #045BA1;
  color: white;
}
/deep/.mat-datepicker-content .mat-calendar-previous-button,
/deep/.mat-datepicker-content .mat-calendar-next-button{
  color: white;
}
/deep/.mat-calendar-arrow{
  border-top-color: white;
}
/deep/.mat-calendar-body-today:not(.mat-calendar-body-selected){
  border: 2px solid #045BA1;
}
/deep/.mat-calendar-body-selected{
  color: white!important;
  background-color: #045BA1;
}
/deep/.mat-calendar-body-cell-content,
/deep/.mat-calendar-table-header,
/deep/.mat-calendar-body-label{
  color: #045BA1;
}
.hr-filter{
  margin-left: 15px;
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #045BA1;
  background-color: transparent;
  padding: 4px 2px 4px 34px;
  height: 40px;
  width: 190px;
  font-family: "Roboto Medium";
  color: #045BA1;
  font-size: 16px;
}
input::-webkit-clear-button{
  display: none;
}
::placeholder{
  color: #045BA1;
}
.table-striped{
  margin-top: 20px;
  margin-bottom: 20px;
}
table{
  margin-top: 38px;
  border-bottom: 1px solid #045BA1;
}
thead > tr{
  background-color: #045BA1;
  color: white;
}
.tuple:hover{
  background-color: #045BA1;
  cursor: pointer;
}
.tuple:hover > td{
  color: white;
}
th{
  font-family: "Roboto Medium";
  font-size: 17px;
  padding-left: 40px;
}
td{
  font-family: "Roboto Medium";
  font-size: 15px;
  color: #323232;
}
.no-employee{
  display: none;
}
.tuple > td{
  padding-left: 40px;
}

/*Pagination Buttons*/
.paginate table{
  width: 60%;
  border-bottom: none;
}
.paginate td{
  width: 20%;
}
.paginate{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  color: #045BA1;
}
.page-number{
  color: #045BA1;
  margin-top: -4px;
  margin-left: -3px;
}
.total-records{
  font-family: "Roboto Light";
  margin-top: 30px;
}
.prev{
  color: #045BA1;
  font-size: 35px;
}
.next{
  color: #045BA1;
  font-size: 35px;
}
