.bcg-emp-menu{
  background-color: white;
  height: 100%;
  width: 400px;
  border-left: 1px solid #045BA1;
}
.emp-menu{
  background-color: #045BA1;
  height: 100%;
}
.header{
  font-family: "Roboto Medium";
  font-size: 20px;
  color: white;
  padding-top: 14px;
  height: 100px;
}
hr{
  background-color: white;
}
.forms{
  margin-top: 0;
}
label{
  font-family: "Roboto Light";
  color: white;
  margin-top: 10px;
  margin-bottom: 18px;
  height: 40px;
  width: 30%;
}
input{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: "Roboto Light";
  padding-left: 10px;
  width: 70%;
  height: 40px;
  margin-bottom: 18px;
  float: right;
}
input.ng-touched.ng-invalid{
  border-bottom: 2px solid #cd0022;
}
input[type='date']::-webkit-inner-spin-button, input[type='date']::-webkit-clear-button{
  display: none;
}
input::-webkit-calendar-picker-indicator{
  background-color: transparent;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
}
button{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: #045BA1;
  height: 40px;
  padding-top: 4px;
  margin-right: 15px;
  width: fit-content;
}
button:hover{
  box-shadow: 0 2px 8px black;
}
button:active{
  background-color: #045BA1;
  color: white;
}
button:focus{
  box-shadow: 0 2px 8px black;
}
.btn-danger{
  color: #cd0022;
  border: none;
}
.btn-danger:hover{
  background-color: white;
  border: none;
}
.btn-danger:active{
  background-color: #cd0022;
  color: white;
}
.btn-icon{
  width: unset;
  height: unset;
  font-size: 22px;
  margin-right: 5px;
}

