<div class="container bcg-emp-menu">
  <div class="row emp-menu">
    <div class="col-12">
      <div class="row">
        <div class="col-12 header">
          Employee Menu
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12 forms">

          <!--Manager and Director Datalist-->
          <datalist id="managers">
            <option value="XXXX">Don't have manager</option>
            <option *ngFor="let manager of managers?.list" [value]="manager?.id">{{manager?.firstName}} {{manager?.lastName}}</option>
          </datalist>
          <datalist id="directors">
            <option value="XXXXX">Don't have director</option>
            <option *ngFor="let director of directors?.list" [value]="director?.id">{{director?.firstName}} {{director?.lastName}}</option>
          </datalist>
          <datalist id="offices">
            <option *ngFor="let office of offices" [value]="office?.id">{{office?.someLabel}}</option>
          </datalist>

          <!--Editing Employee Or Inserting Employee Form-->
          <form [formGroup]="employeeForm">
            <label for="firstName">{{labels?.firstName?.fieldLabel}}: </label>
            <input id="firstName" type="text" formControlName="firstName">
            <br>
            <label for="lastName">{{labels?.lastName?.fieldLabel}}: </label>
            <input id="lastName" type="text" formControlName="lastName">
            <br>
            <label for="birthDate">{{labels?.birthdate?.fieldLabel}}: </label>
            <input id="birthDate" type="date" formControlName="birthdate">
            <br>
            <label for="managerId">Manager: </label>
            <input id="managerId" list="managers" (keyup)="getManagerDataList()" [(ngModel)]="managerInput" formControlName="managerId">
            <br>
            <label for="directorId">Director: </label>
            <input id="directorId" list="directors" (keyup)="getDirectorDataList()" [(ngModel)]="directorInput" formControlName="directorId">
            <br>
            <label for="email">{{labels?.email?.fieldLabel}}: </label>
            <input id="email" type="email" formControlName="email">
            <br>
            <label for="officeId">Office: </label>
            <input id="officeId" list="offices" formControlName="officeNameId">
            <div class="buttons" *ngIf="!newOrOld">
              <button class="btn" (click)="updateEmployee()" *ngIf="employeeForm.valid">
                <mat-icon class="btn-icon">update</mat-icon>
                Update
              </button>
              <button class="btn btn-danger" (click)="deleteEmployee()">
                <mat-icon class="btn-icon">delete</mat-icon>
                Delete
              </button>
            </div>
            <div class="buttons" *ngIf="newOrOld">
              <button class="btn" (click)="insertEmployee()" *ngIf="employeeForm.valid">
                <mat-icon class="btn-icon">person_add</mat-icon>
                Insert
              </button>
              <button class="btn btn-danger" (click)="reset()">
                <mat-icon class="btn-icon">cancel_presentation</mat-icon>
                Reset
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
