.dropdown{
  font-family: "Roboto Medium";
  font-size: 20px;
  color: #045BA1;
  cursor: pointer;
  padding-left: 8px;
  padding-top: 18px;
  width: 20%;
}
.dropdown-menu > a{
  color: #045BA1;
  font-family: "Roboto Light";
}
/deep/.mat-tab-label{
  color: #045BA1;
  font-family: "Roboto Medium";
  font-size: 25px;
}
.table-striped{
  margin-top: 20px;
  margin-bottom: 20px;
}
table{
  margin-top: 38px;
  border-bottom: 1px solid #045BA1;
}
thead > tr{
  background-color: #045BA1;
  color: white;
}
.tuple:hover{
  background-color: #045BA1;
  cursor: pointer;
}
.tuple:hover > td{
  color: white;
}
th{
  font-family: "Roboto Medium";
  font-size: 17px;
  padding-left: 40px;
}
td{
  font-family: "Roboto Medium";
  font-size: 15px;
  color: #323232;
}
.no-employee{
  display: none;
}
.tuple > td{
  padding-left: 40px;
}

/*Pagination Buttons*/
.paginate table{
  width: 60%;
  border-bottom: none;
}
.paginate td{
  width: 20%;
}
.paginate{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  color: #045BA1;
}
.page-number{
  color: #045BA1;
  margin-top: -4px;
  margin-left: -3px;
}
.total-records{
  font-family: "Roboto Light";
  margin-top: 30px;
}
.prev{
  color: #045BA1;
  font-size: 35px;
}
.next{
  color: #045BA1;
  font-size: 35px;
}

/*New Request*/
.new-request{
  border-radius: 28px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
}
.new-request:hover{
  height: 305px;
}
.new{
  background-color: #045BA1;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  font-size: 32px;
  font-weight: bold;
  padding-left: 16.5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/*New Request Types*/
.new-xh{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 11px;
  position: fixed;
  bottom: 90px;
  right: 35px;
}
.new-holiday{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 15.5px;
  position: fixed;
  bottom: 140px;
  right: 35px;
}
.new-mission{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 13.5px;
  position: fixed;
  bottom: 190px;
  right: 35px;
}
.new-mt{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 7px;
  padding-left: 12px;
  position: fixed;
  bottom: 240px;
  right: 35px;
}
.new-sub{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 7px;
  padding-left: 17px;
  position: fixed;
  bottom: 290px;
  right: 35px;
}

/*New Request Banners*/
.new-sub-banner{
  display: none;
  font-size: 18px;
  color: #323232;
  position: fixed;
  bottom: 300px;
  right: 90px;
}
.new-mt-banner{
  display: none;
  font-size: 18px;
  color: #323232;
  position: fixed;
  bottom: 250px;
  right: 90px;
}
.new-mission-banner{
  display: none;
  font-size: 18px;
  color: #323232;
  position: fixed;
  bottom: 200px;
  right: 90px;
}
.new-holiday-banner{
  display: none;
  font-size: 18px;
  color: #323232;
  position: fixed;
  bottom: 150px;
  right: 90px;
}
.new-xh-banner{
  display: none;
  font-size: 18px;
  color: #323232;
  position: fixed;
  bottom: 100px;
  right: 90px;
}

/*New Request Animations*/
.new-request:hover > .new{
  transition: 300ms;
  transform: rotate(45deg);
  box-shadow: 4px 4px 12px black;
}
.new-request:hover > .new-xh, .new-request:hover > .new-xh-banner,
.new-request:hover > .new-holiday, .new-request:hover > .new-holiday-banner,
.new-request:hover > .new-mission, .new-request:hover > .new-mission-banner,
.new-request:hover > .new-mt, .new-request:hover > .new-mt-banner,
.new-request:hover > .new-sub, .new-request:hover > .new-sub-banner{
  display: block;
}
.new-xh:hover, .new-holiday:hover, .new-mission:hover, .new-mt:hover, .new-sub:hover{
  transition: 600ms;
  transform: rotate(360deg);
  box-shadow: 0 4px 12px black;
}

