<div class="container bcg-emp-menu">
  <div class="row emp-menu">
    <div class="col-12">
      <div class="row">
        <div class="col-12 header">
          Employee Menu
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12 forms">

          <!--Manager and Director Datalist-->
          <datalist id="managers">
            <option value="XXXX">Don't have manager</option>
            <option *ngFor="let manager of managers?.list" [value]="manager?.id">{{manager?.firstName}} {{manager?.lastName}}</option>
          </datalist>
          <datalist id="directors">
            <option value="XXXXX">Don't have director</option>
            <option *ngFor="let director of directors?.list" [value]="director?.id">{{director?.firstName}} {{director?.lastName}}</option>
          </datalist>
          <datalist id="offices">
            <option *ngFor="let office of offices" [value]="office?.id">{{office?.someLabel}}</option>
          </datalist>

          <!--Editing Employee Form-->
          <form [formGroup]="employeeForm" *ngIf="!newOrOld">
            <!--Fields-->
            <label for="firstName">{{labels?.firstName?.fieldLabel}}: </label>
            <input id="firstName" type="text" [value]="employee?.firstName" formControlName="firstName">

            <br>

            <label for="lastName">{{labels?.lastName?.fieldLabel}}: </label>
            <input id="lastName" type="text" [value]="employee?.lastName" formControlName="lastName">

            <br>

            <label for="birthDate">{{labels?.birthdate?.fieldLabel}}: </label>
            <input id="birthDate" type="date" [value]="employee?.birthdate | multiPurposePipe: 'birthday'" formControlName="birthdate">

            <br>

            <label for="managerId">Manager: </label>
            <input id="managerId" list="managers" (keyup)="getManagerDataList()" [(ngModel)]="managerInput" value="{{employee.managerFirstName}} {{employee.managerLastName}}" formControlName="managerId">

            <br>

            <label for="directorId">Director: </label>
            <input id="directorId" list="directors" (keyup)="getDirectorDataList()" [(ngModel)]="directorInput" value="{{employee.directorFirstName}} {{employee.directorLastName}}" formControlName="directorId">

            <br>

            <label for="email">{{labels?.email?.fieldLabel}}: </label>
            <input id="email" type="email" [value]="employee?.email" formControlName="email">

            <br>

            <label for="officeId">Office: </label>
            <input id="officeId" list="offices" (keyup)="getOfficeDataList()" [value]="employee?.officeName" formControlName="officeNameId">
            <!--Buttons-->
            <div class="buttons">
              <button class="btn" (click)="updateEmployee()">
                <mat-icon class="btn-icon">update</mat-icon>
                Update
              </button>
              <button class="btn btn-danger" (click)="deleteEmployee()">
                <mat-icon class="btn-icon">delete</mat-icon>
                Delete
              </button>
              <button class="btn btn-danger" (click)="reset()">
                <mat-icon class="btn-icon">cancel_presentation</mat-icon>
                Reset
              </button>
            </div>
          </form>

          <!--Inserting Employee Form-->
          <form [formGroup]="employeeForm" *ngIf="newOrOld">
            <label for="firstName1">{{labels?.firstName?.fieldLabel}}: </label>
            <input id="firstName1" type="text" formControlName="firstName" required>
            <br>
            <label for="lastName1">{{labels?.lastName?.fieldLabel}}: </label>
            <input id="lastName1" type="text" formControlName="lastName" required>
            <br>
            <label for="birthDate1">{{labels?.birthdate?.fieldLabel}}: </label>
            <input id="birthDate1" type="date" formControlName="birthdate" required>
            <br>
            <label for="managerId1">Manager: </label>
            <input id="managerId1" list="managers" (keyup)="getManagerDataList()" [(ngModel)]="managerInput" formControlName="managerId" required>
            <br>
            <label for="directorId1">Director: </label>
            <input id="directorId1" list="directors" (keyup)="getDirectorDataList()" [(ngModel)]="directorInput" formControlName="directorId" required>
            <br>
            <label for="email1">{{labels?.email?.fieldLabel}}: </label>
            <input id="email1" type="email" formControlName="email" required>
            <br>
            <label for="officeId1">Office: </label>
            <input id="officeId1" list="offices" (keyup)="getOfficeDataList()" [(ngModel)]="officeInput" formControlName="officeNameId" required>
            <button class="btn" (click)="insertEmployee()">
              <mat-icon class="btn-icon">person_add</mat-icon>
              Insert
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
