.dropdown{
  font-family: UniSansRegular;
  font-size: 20px;
  color: #045BA1;
  padding-left: 8px;
  padding-top: 18px;
  width: 20%;
}
.table-striped{
  margin-top: 20px;
  margin-bottom: 20px;
}
th{
  font-family: UniSansRegular;
  font-size: 18px;
  color: #045BA1;
}
h4{
  color: #045BA1;
}

/*Pagination Buttons*/
.paginate{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.prev{
  background-color: #045BA1;
  display: flex;
  justify-content: flex-start;
  height: 30px;
  padding: 0 6px 3px 6px;
  margin-right: 10px;
}
.next{
  background-color: #045BA1;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  padding: 0 6px 3px 6px;
  margin-left: 10px;
}

/*New Request*/
.new-request{
  border-radius: 28px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
}
.new-request:hover{
  height: 255px;
}
.new{
  background-color: #045BA1;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  font-size: 32px;
  font-weight: bold;
  padding-left: 16.5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/*New Request Types*/
.new-xh{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 11px;
  position: fixed;
  bottom: 90px;
  right: 35px;
}
.new-holiday{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 15.5px;
  position: fixed;
  bottom: 140px;
  right: 35px;
}
.new-mission{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 13.5px;
  position: fixed;
  bottom: 190px;
  right: 35px;
}
.new-mt{
  display: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 8px;
  position: fixed;
  bottom: 240px;
  right: 35px;
}
.new-mt-banner{
  display: none;
  font-size: 18px;
  color: #045BA1;
  position: fixed;
  bottom: 250px;
  right: 90px;
}

/*New Request Banners*/
.new-mission-banner{
  display: none;
  font-size: 18px;
  color: #045BA1;
  position: fixed;
  bottom: 200px;
  right: 90px;
}
.new-holiday-banner{
  display: none;
  font-size: 18px;
  color: #045BA1;
  position: fixed;
  bottom: 150px;
  right: 90px;
}
.new-xh-banner{
  display: none;
  font-size: 18px;
  color: #045BA1;
  position: fixed;
  bottom: 100px;
  right: 90px;
}

/*New Request Animations*/
.new-request:hover > .new{
  transition: 300ms;
  transform: rotate(45deg);
  box-shadow: 4px 4px 12px black;
}
.new-request:hover > .new-xh, .new-request:hover > .new-xh-banner,
.new-request:hover > .new-holiday, .new-request:hover > .new-holiday-banner,
.new-request:hover > .new-mission, .new-request:hover > .new-mission-banner,
.new-request:hover > .new-mt, .new-request:hover > .new-mt-banner{
  display: block;
}
.new-xh:hover, .new-holiday:hover, .new-mission:hover, .new-mt:hover{
  transition: 600ms;
  transform: rotate(360deg);
  box-shadow: 0 4px 12px black;
}

