.top-menu-style{
  background-color: #045BA1;
}
.side-menu-drawer{
  width: 280px;
}
.menu-row{
  padding: 10px 0 10px 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-icon{
  color: white;
  height: unset;
  width: unset;
  font-size: 36px;
  cursor: pointer;
}
.page-name{
  color: white;
  margin-left: 15px;
  font-family: UniSansSemiBold;
  font-size: 22px;
}
.search-bar{
  border-radius: 8px;
  border: none;
  height: 40px;
  color: #045BA1;
  padding: 6px 0 6px 45px;
  font-family: "Roboto Light";
  font-size: 20px;
  margin-left: 25px;
}
.search-icon{
  color: #045BA1;
  position: absolute;
  left: 48px;
  top: 20px;
  font-size: 29px;
  z-index: 1;
}
::placeholder{
  color: #045BA1;
}
.avatar{
  margin-left: 100px;
}
.avatar-img{
  margin-left: 100px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid white;
}
.office-n-employee{
  color: white;
  margin-left: 15px;
  font-family: "Roboto Thin";
}
.to-x{
  transition: 600ms;
  transform: rotate(360deg);
}
.to-menu{
  transition: 600ms;
  transform: rotate(-360deg);
}
