<mat-drawer-container style="height: 100%" [hasBackdrop]="false">
  <mat-drawer class="side-menu-drawer" #menu [mode]="'push'" position="start">
    <app-side-menu></app-side-menu>
  </mat-drawer>
  <mat-drawer-content class="container-fluid">
    <div class="row top-menu-style">
      <div style="padding-right: 0" class="col-2">
        <div class="row menu-row">
          <mat-icon class="menu-icon" [ngClass]="{'to-x': x, 'to-menu': !x}" (click)="iconToggle()">{{icon}}</mat-icon>
          <div class="page-name" id="main">Employee Requests</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row menu-row">
          <mat-icon class="search-icon">search</mat-icon>
          <input class="col-12 search-bar" type="search" (keyup)="searcingFunc()" [(ngModel)]="search" [placeholder]="'Search...'">
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <div class="row menu-row">
          <ngx-avatar *ngIf="!avatarOrPic()" class="avatar" [name]="'Hegi Gjoka'" [size]="'46'" bgColor="white" fgColor="#045BA1"></ngx-avatar>
          <img *ngIf="avatarOrPic()" src="{{avatar}}" class="img-fluid avatar-img">
          <div class="office-n-employee">
            <div>CED</div>
            <div>Hegi Gjoka</div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 92.5%;" class="row">
      <!--<router-outlet [firstName]="search"></router-outlet>-->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

