<div class="col-12">
  <div class="dropdown">
    <h2 class="dropdown-toggle" id="requestCategory" data-toggle="dropdown">{{title}}</h2>
    <div class="dropdown-menu" aria-labelledby="requestCategory">
      <a class="dropdown-item" (click)="all()">All</a>
      <a class="dropdown-item" (click)="onlyMR()">My Requests</a>
      <a class="dropdown-item" (click)="onlyMPR()">My Pending Requests</a>
      <a class="dropdown-item" (click)="onlyPA()">Pending Action</a>
    </div>
  </div>
  <hr>
</div>
<div class="col-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Issued Date</th>
        <th>Request Date</th>
        <th>Type</th>
        <th>Employee</th>
        <th>Motivation</th>
        <th>Manager</th>
        <th>Director</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</div>
<div class="col-2 paginate">
  <table border="0">
    <tr>
      <td>
        <button class="btn btn-info prev" (click)="pages(-1, 3)">Prev</button>
      </td>
      <td>
        <h4>{{paginate}}</h4>
      </td>
      <td>
        <button class="btn btn-info next" (click)="pages(1, 3)">Next</button>
      </td>
    </tr>
  </table>
</div>
<div class="new-request">
  <div ma class="new-mt">MB</div>
  <div class="new-mt-banner">Missing Badge</div>
  <div class="new-mission">M</div>
  <div class="new-mission-banner">Mission</div>
  <div class="new-holiday">H</div>
  <div class="new-holiday-banner">Holidays</div>
  <div class="new-xh">xH</div>
  <div class="new-xh-banner">Extra Hours</div>
  <div class="new">+</div>
</div>
