<div class="container-fluid">
  <div class="row top-menu-style">
    <div class="col-12 contents">
      <div class="page-name">{{ 'Brand' | translate }}</div>
      <div class="sign-in-butt">
        <button mat-raised-button (click)="socialSignIn()">{{ 'sign_in' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="signingIn">
    <div class="col-12">
      <mat-spinner style="display: block;margin-left: auto;margin-right: auto;margin-top: 350px"></mat-spinner>
    </div>
  </div>
</div>
