.top-menu-style{
  background-color: #045BA1;
}
.menu-row{
  padding: 15px 0 15px 15px;
}
.page-name{
  color: white;
  margin-left: 15px;
  font-family: UniSansSemiBold;
  font-size: 25px;
}
button{
  background-color: white;
  color: #045BA1;
  font-family: UniSansRegular;
  position: relative;
  right: 20px;
  display: block;
  margin-left: auto;
}
