.top-menu-style{
  background-color: #045BA1;
}
.contents{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}
.page-name{
  color: white;
  margin-left: 15px;
  font-family: UniSansSemiBold;
  font-size: 25px;
}
.sign-in-butt{
  position: fixed;
  right: 24px;
}
button{
  background-color: white;
  color: #045BA1;
  font-family: UniSansRegular;
}
