@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: UniSansRegular;
  src: url("assets/fonts/UniSansRegular.otf") format("opentype");
}
@font-face {
  font-family: UniSansSemiBold;
  src: url("assets/fonts/UniSansSemiBold.ttf") format("opentype");
}
@font-face {
  font-family: UniSansSemiBoldItalic;
  src: url("assets/fonts/UniSansSemiBoldItalic.ttf") format("opentype");
}
@font-face {
  font-family: UniSansBold;
  src: url("assets/fonts/UniSansBold.ttf") format("opentype");
}
@font-face {
  font-family: UniSansLight;
  src: url("assets/fonts/UniSansLight.ttf") format("opentype");
}

html, body {
  height: 100%;
}
hr{
  background-color: #045BA1;
}
app-reuests-container{
  width: 100%;
}
app-personel-requests{
  width: 100%;
}
app-employee-panel{
  width: 100%;
}
mat-icon{
  cursor: pointer;
}
mat-drawer-container{
  width: 100%;
  height: 100%;
}
mat-drawer-content{
  width: 100%;
  height: 100%;
}
app-confirm-dialog{
  position: fixed;
  top: 333px;
  left: calc(50% - 250px);
  width: 500px;
  z-index: 10;
}

.top-menu-style{
  max-height: 6.3%;
}
.panel-contents{
  height: 93.7%;
}
@media only screen and (max-height: 650px){
  .top-menu-style{
    max-height: 8%;
  }
  .panel-contents{
    height: 92%;
  }
}

.drawer-request{
  background-color: #045BA1!important;
}
.btn-info:active, .btn-info:focus, input:active, input:focus{
  background-color: transparent;
  box-shadow: none;
}
.success-chip{
  background-color: #045BA1;
  font-family: "Roboto Medium";
  color: white;
}
.error-chip{
  background-color: #cd0022;
  font-family: "Roboto Medium";
  color: white;
}
::-webkit-scrollbar{
  width: 8px!important;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track {
  background-color: #045BA1;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #cbcbcb;
}
