<div class="container bcg-emp-menu">
  <div class="row emp-menu">
    <div class="col-12">
      <div class="row">
        <div class="col-12 header">
          Mission Request
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12 forms">
          <datalist id="missType">
            <option *ngFor="let mission of missionTypes" [value]="mission?.someLabel"></option>
          </datalist>

          <!--Editing Employee Or Inserting Employee Form-->
          <form [formGroup]="requestForm">
            <div class="form-section" *ngIf="hasSomeField">Employee Info</div>
            <hr *ngIf="hasSomeField">
            <label for="employeeId" *ngIf="hasEmployeeField">{{fields?.employeeId?.fieldLabel}}: </label>
            <input id="employeeId" type="text" formControlName="employeeId" *ngIf="hasEmployeeField">
            <br *ngIf="hasEmployeeField">
            <label for="officeNameId" *ngIf="hasSomeField">{{fields?.officeNameId?.fieldLabel}}: </label>
            <input id="officeNameId" type="text" formControlName="officeNameId" *ngIf="hasSomeField">
            <br *ngIf="hasSomeField">
            <label for="managerId" *ngIf="hasSomeField">{{fields?.managerId?.fieldLabel}}: </label>
            <input id="managerId" type="text" formControlName="managerId" *ngIf="hasSomeField">
            <br *ngIf="hasSomeField">
            <div class="form-section" *ngIf="hasSomeField">Request Info</div>
            <hr *ngIf="hasSomeField">
            <label for="missionTypeId">{{fields?.missionTypeId?.fieldLabel}}: </label>
            <input id="missionTypeId"
                   list="missType"
                   type="text"
                   [(ngModel)]="missionTypeInput"
                   (change)="setMTId(missionTypeInput)"
                   formControlName="missionTypeId">
            <br>
            <label for="missionWhere">{{fields?.missionWhere?.fieldLabel}}: </label>
            <input id="missionWhere" type="text" formControlName="missionWhere">
            <br>
            <label for="startTimestamp">{{fields?.startTimestamp?.fieldLabel}}: </label>
            <input id="startTimestamp" class="input-mission-date" type="date" min="{{date.toISOString().split('T')[0]}}" formControlName="startDate">
            <input id="startTimestamp1" class="input-mission-time" type="time" step="1800" formControlName="startTime">
            <br>
            <label for="stopTimestamp">{{fields?.stopTimestamp?.fieldLabel}}: </label>
            <input id="stopTimestamp" class="input-mission-date" type="date" min="{{date.toISOString().split('T')[0]}}" formControlName="stopDate">
            <input id="stopTimestamp1" class="input-mission-time" type="time" step="1800" formControlName="stopTime">
            <br>
            <label for="approvementId" *ngIf="hasSomeField && displayApprove">{{fields?.approvementId?.fieldLabel}}: </label>
            <input id="approvementId" type="text" formControlName="approvementId" *ngIf="hasSomeField && displayApprove">
            <br *ngIf="hasSomeField && displayApprove">
            <div class="buttons" *ngIf="!hasSomeField">
              <button class="btn" (click)="insertRequest()" *ngIf="requestForm.valid">
                <mat-icon class="btn-icon">add_circle</mat-icon>
                Insert
              </button>
              <button class="btn btn-danger" (click)="reset()">
                <mat-icon class="btn-icon">cancel_presentation</mat-icon>
                Reset
              </button>
            </div>
            <button class="btn btn-danger" (click)="deleteRequest()" *ngIf="isDeletable && allowDeleteRequest">
              <mat-icon class="btn-icon">delete</mat-icon>
              Delete
            </button>
            <div class="buttons" *ngIf="isManager && allowUpdateRequest">
              <button class="btn" (click)="approveOrDeny(1)">
                <mat-icon class="btn-icon">check_box</mat-icon>
                Approve
              </button>
              <button class="btn btn-danger" (click)="approveOrDeny(0)">
                <mat-icon class="btn-icon">indeterminate_check_box</mat-icon>
                Deny
              </button>
            </div>
            <div class="buttons" *ngIf="proc && allowUpdateRequest">
              <button class="btn" (click)="procReq(1)">
                <mat-icon class="btn-icon">check</mat-icon>
                Process
              </button>
              <button class="btn btn-danger" (click)="procReq(0)">
                <mat-icon class="btn-icon">close</mat-icon>
                Don't process
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

